body {
  font-family: Lexend, sans-serif;
}
.section {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  background-color: #073b4c;
  padding: 2rem;
  p {
    text-align: start;
  }
  figcaption {
    font-size: 1rem;
  }
}

.actions {
  list-style-type: none;
}
.actions button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 7px;
  font-size: 15px;
  cursor: pointer;
}
.actions button:hover {
  background: #fff;
  color: #35495e;
}
